#precip {
    width: 30px
}

#glass {
    width: 16px;
}

span {
    display: inline-grid;
    font-size: 30px;
    align-items: center;
    text-align: center
}

#input {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#input #ack {
    font-size: 20px;
    text-align: center;
}

#current-conditions {
    margin: auto; 
    width: 90rem; 
    text-align: center
}

#forecast {
    display: flex; 
    flex-direction: row;
    color: white
}

.forecast-card {
    width: 18rem;
    text-align: center;
}

@media screen and (max-width: 690px) {
     #input {
         width: 90%;
     }

     #input #ack {
         font-size: 15px;
         text-align: center;
         margin-bottom: 2px;
     }

     #current-conditions {
        margin-top: 10px; 
        width: 90%; 
        text-align: center;
    }

    #current-conditions h1 {
        font-size: 5vw;
    }

    #current-conditions img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 60px;
    }

    #current-conditions h2 {
        font-size: 5vw;
    }

    #current-conditions .currently {
        display: block
    }

    #current-conditions .wind {
        display: block
    }

    #forecast {
        display: flex;
        flex-direction: column;
        color: white
    }

    .forecast-card {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .card-body {
        text-align: center;
    }

    .card-body .card-title {
        font-size: 5vw;
        display: inline;
        margin-right: 10px;
    }

    .card-body .img-1 {
        height: 50px;
        display: inline;
        margin-right: 5px;
    }

    .card-body h2 {
        font-size: 5vw;
        display: inline;
    }

    .card-body div {
        display: inline;
    }
    .card-body span {
        font-size: 5vw;
        margin-right: 2px;
    }

    .card-body .card-title {
        display: inline;
    }
}